<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="assets/js/jquery.pin.min.js"></script>
<script src="assets/js/jquery.autocomplete.min.js"></script>

<script>
  $( document ).ready(function() {


  $(function(){
    var results = [
      { value: 'Chicago Blackhawks', data: { category: 'NHL' } },
      { value: 'Chicago Bulls', data: { category: 'NBA' } },
      { value: '', data: { category: 'Category title' } }
    ];

      // setup autocomplete function pulling from results[] array
      $('#autocomplete').autocomplete({
        lookup: results,
        groupBy: 'category',
        onSelect: function (suggestion) {
          var thehtml = '<strong>Currency Name:</strong> ' + suggestion.value + ' <br> <strong>Symbol:</strong> ' + suggestion.data;
          $('#outputcontent').html(thehtml);
        }
      });


    });

    // pin elements to top of
    // container elment
    $(".pinned").pin({
      minWidth: 640
    })


    // mobile navigation slider
    $( ".nav-toggle" ).click(function() {
      $("#nav").toggleClass("nav-fullpage-visible");
    });


    // animate elements
    $("#slide-up").addClass("slide-up");
    $("#fade-out").addClass("fade-out");


    // check if passwords match
    $("#password-confirm").keyup(checkPasswordMatch);


    // enable acordian dropdown
    // for the terminal
    terminalAcordian(4);


    //----------
    // FUNCTIONS
    //----------

    // Check passwords
    function checkPasswordMatch() {
      var password = $("#password").val();
      var passwordConfirm = $("#password-confirm").val();

      if (password != passwordConfirm){
        $("#error-message").removeClass("display-none");
        $("#error-message").html("Uh oh, passwords do not match.");
      }
      else{
        $("#error-message").addClass("display-none");
      }
    }


    // for all clusters in project
    // execute the showModal function
    // can we loop through the clusters?

    // below function takes in the id of a link
    // the link must have attribute of data-modal
    // which holds the id of the modal
    function showModal(id) {
      console.log(id);
      var modal = "#" +$(id).attr("data-modal");
      console.log(modal);
      $(id).click(function() {
        console.log("clcked");
        $(modal).addClass("fade-in");
        $(modal).removeClass("display-none");
      });
    }

    function closeAllModals() {
      $(".modal").removeClass("fade-in");
      $(".modal").addClass("display-none");
    }

    $(".close-modal").click(function() {
      closeAllModals();
    });


    // terminal acordian
    // execute this function and pass
    // the number of acordians in the terminal
    // as the id
    function terminalAcordian(id) {
      for (var i = 1; i <= id; i++) {
        (function (i) {
          $("#toggle-"+i).click(function(){
            $("#expand-"+i).toggleClass("display-block");
            if ($("#toggle-"+i).find(".terminal-arrow").text() == "↓") {
              $("#toggle-"+i).find(".terminal-arrow").html("→");
            }
            else {
              $("#toggle-"+i).find(".terminal-arrow").html("↓");
            }
          });
        }(i));
      }
    }

  });
</script>

  </body>
</html>
