<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="application-name" content="">

    <!-- title -->
    <title></title>

    <!-- description -->
    <meta name="description" content="" />

    <!-- stylesheets -->
    <link href="assets/css/style.min.css" rel="stylesheet">
  </head>

<body>
