<header>

  <nav class="padding-1 color-bg-cream zindex-100 position-fixed full tablet-down">
    <div class="row">
      <div class="small-6 columns">
        <strong class="text-midnight">ATLAS</strong>
      </div>
      <div class="small-6 columns text-right">
        <i class="fa fa-bars nav-toggle text-midnight opacity-1 cursor-pointer"></i>
      </div>
    </div>
  </nav>

  <!-- <nav class="padding-1 color-bg-cream zindex-100 position-fixed full desktop-only">
    <div class="row">
      <div class="small-6 columns">

      </div>
      <div class="small-6 columns text-right">
        <a class="margin-lr1 opacity-1 text-midnight"><i class="fa fa-cog nav-toggle cursor-pointer"></i> Settings</a>
        <a class="margin-lr1 opacity-1 text-midnight"><i class="fa fa-user nav-toggle cursor-pointer"></i> Profile</a>
      </div>
    </div>
  </nav> -->

  <nav class="nav-fullpage color-bg-calm zindex-10 overflow-hidden tablet-down" id="nav">
    <div class="row">
      <div class="small-12 columns">
        <div class="padding-1">
          <br />
        </div>
        <ul class="margin-none list-none padding-none">
          <li class="margin-none padding-1 opacity-2 text-small text-transform-uppercase">
            V 1.0.0
          </li>
          <li class="padding-1 item-hover-dark rounded">
            <i class="fa fa-database opacity-2"></i> Servers
          </li>
          <hr class="opacity-4"/>
          <li class="padding-1 item-hover-dark rounded">
            <i class="fa fa-folder-open opacity-2"></i> Projects
          </li>
          <hr class="opacity-4"/>
          <li class="padding-1 item-hover-dark rounded">
            <i class="fa fa-cubes opacity-2"></i> Clusters
          </li>
          <hr class="opacity-4"/>
          <li class="margin-t4 padding-1 opacity-2 text-small text-transform-uppercase">
            Account
          </li>
          <li class="padding-1 item-hover-dark rounded">
            <i class="fa fa-user opacity-2"></i> Profile
          </li>
          <hr class="opacity-4"/>
          <li class="padding-1 item-hover-dark rounded">
            <i class="fa fa-cog opacity-2"></i> Settings
          </li>
          <hr class="opacity-4"/>
          <li class="padding-1 item-hover-dark rounded">
            <i class="fa fa-sign-out opacity-2"></i> Logout
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<div class="sidebar position-fixed color-bg-calm desktop-only zindex-100">
  <div class="padding-1 text-invert color-bg-primary text-center">
    <strong>ATLAS</strong>
  </div>
  <ul class="margin-none list-none padding-none text-center">
    <li class="margin-none padding-1 opacity-3 text-small text-transform-uppercase">V 1.0.0</li>
    <hr class="opacity-4"/>
    <li class="margin-1 padding-05 rounded item-hover-dark item-active">
      <i class="fa fa-database opacity-2"></i> <br/> Servers
    </li>
    <hr class="opacity-4"/>
    <li class="margin-1 padding-05 rounded item-hover-dark">
      <i class="fa fa-folder-open opacity-2"></i> <br/> Projects
    </li>
    <hr class="opacity-4"/>
    <li class="margin-1 padding-05 rounded item-hover-dark">
      <i class="fa fa-cubes opacity-2"></i> <br/> Cluster
    </li>
    <hr class="opacity-4"/>
    <li class="margin-1 padding-05 rounded item-hover-dark">
      <i class="fa fa-cog opacity-2"></i> <br/> Settings
    </li>
    <hr class="opacity-4"/>
  </ul>
</div>
