<header>
  <nav class="padding-1 color-bg-navy text-invert">
    <div class="row">
      <div class="small-6 columns">
        <strong>ATLAS</strong>
      </div>
      <div class="small-6 columns text-right">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </nav>
  <nav class="color-bg-midnight text-invert shadow-bottom">
    <ul class="margin-none list-none padding-1">
      <li class="margin-none padding-1 opacity-2 text-small text-transform-uppercase">V 1.0.0</li>
      <li class="padding-1"><i class="fa fa-anchor opacity-2"></i> Servers</li>
      <hr class="opacity-4"/>
      <li class="padding-1"><i class="fa fa-anchor opacity-2"></i> Projects</li>
      <hr class="opacity-4"/>
      <li class="padding-1"><i class="fa fa-anchor opacity-2"></i> Clusters</li>
      <hr class="opacity-4"/>

      <li class="margin-t4 padding-1 opacity-2 text-small text-transform-uppercase">Account</li>
      <li class="padding-1"><i class="fa fa-anchor opacity-2"></i> Profile</li>
      <hr class="opacity-4"/>
      <li class="padding-1"><i class="fa fa-anchor opacity-2"></i> Settings</li>
      <hr class="opacity-4"/>

      <li class="margin-t4 padding-1 opacity-2 text-small text-transform-uppercase">Product</li>
      <li class="padding-1"><i class="fa fa-anchor opacity-2"></i> About</li>
      <hr class="opacity-4"/>
      <li class="padding-1"><i class="fa fa-anchor opacity-2"></i> Tour</li>
      <hr class="opacity-4"/>

      <li class="margin-t4 padding-1 opacity-2 text-small text-transform-uppercase"></li>
      <li class="padding-1"><i class="fa fa-anchor opacity-2"></i> Logout</li>
    </ul>
  </nav>
</header>
