<header>

  <nav class="padding-tb1 color-bg-midnight text-invert zindex-100 position-fixed full tablet-down">
    <div class="row">
      <div class="small-6 columns">
        <strong>ATLAS</strong>
      </div>
      <div class="small-6 columns text-right">
        <i class="fa fa-bars nav-toggle cursor-pointer"></i>
      </div>
    </div>
  </nav>

  <nav class="nav-fullpage color-bg-dark text-invert zindex-10 overflow-hidden tablet-down" id="nav">
    <div class="row">
      <div class="small-12 columns">
        <div class="padding-1">
          <br />
        </div>
        <ul class="margin-none list-none padding-none">
          <li class="margin-none padding-1 opacity-2 text-small text-transform-uppercase">
            V 1.0.0
          </li>
          <li class="padding-1 hover-color-tint-dark-1 rounded">
            <i class="fa fa-database opacity-2"></i> Servers
          </li>
          <hr class="opacity-4"/>
          <li class="padding-1 hover-color-tint-dark-1 rounded">
            <i class="fa fa-folder-open opacity-2"></i> Projects
          </li>
          <hr class="opacity-4"/>
          <li class="padding-1 hover-color-tint-dark-1 rounded">
            <i class="fa fa-cubes opacity-2"></i> Clusters
          </li>
          <hr class="opacity-4"/>
          <li class="margin-t4 padding-1 opacity-2 text-small text-transform-uppercase">
            Account
          </li>
          <li class="padding-1 hover-color-tint-dark-1 rounded">
            <i class="fa fa-user opacity-2"></i> Profile
          </li>
          <hr class="opacity-4"/>
          <li class="padding-1 hover-color-tint-dark-1 rounded">
            <i class="fa fa-cog opacity-2"></i> Settings
          </li>
          <hr class="opacity-4"/>
          <li class="padding-1 hover-color-tint-dark-1 rounded">
            <i class="fa fa-sign-out opacity-2"></i> Logout
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>

<div class="sidebar position-fixed color-bg-dark text-invert desktop-only zindex-100 overflow-hidden">
  <div class="padding-1 text-invert color-bg-primary text-center">
    <img class="logo" src="../assets/img/atlas-mark.svg" />
    <img class="logoend display-none" src="../assets/img/atlas-logotype.svg" />
  </div>
  <ul class="margin-none list-none padding-none text-center">
    <li class="margin-none padding-1 opacity-3 text-small text-transform-uppercase">V 1.0.0</li>
    <li class="padding-1 hover-color-tint-light-1 item-active">
      <i class="fa fa-database opacity-2"></i> <span class="hover-show ">Servers</span>
    </li>
    <li class="padding-1 hover-color-tint-light-1">
      <i class="fa fa-folder-open opacity-2"></i> <span class="hover-show ">Projects</span>
    </li>
    <li class="padding-1 hover-color-tint-light-1">
      <i class="fa fa-cubes opacity-2"></i> <span class="hover-show ">Cluster</span>
    </li>
    <li class="padding-1 hover-color-tint-light-1">
      <i class="fa fa-cog opacity-2"></i> <span class="hover-show ">Settings</span>
    </li>
  </ul>
</div>

<nav class="topbar padding-1 color-bg-midnight text-invert zindex-100 desktop-only">
  <div class="row max-width-none">
    <div class="small-6 columns">
      <i class="fa fa-search opacity-3"></i> <input class="padding-none border-none color-bg-none hover" type="text" name="search" placeholder="Search...">
    </div>
    <div class="small-6 columns text-right">
      <a class="margin-lr1 padding-05 text-midnight hover-color-tint-light-1 rounded"><i class="fa fa-user"></i> Profile</a>
      <a class="margin-lr1 padding-05 text-midnight hover-color-tint-light-1 rounded"><i class="fa fa-sign-out"></i> Logout</a>
    </div>
  </div>
</nav>
