//================================================//
// BUTTON
// use these classes to create buttons
//================================================//


.button {
  @include padding-1;
  display: inline-block;
  text-decoration: none;
  white-space: pre;
  cursor: pointer;
  &:hover {
    @include opacity-1;
  }
  &:active {
    @include opacity-2;
  }
}
.button-small {
  @extend .button;
  @include padding-05;
}


//================================================//
// ANIMATED BUTTON
.animate-indicator {
  display: inline-block;
  height: .5em;
  width: 0.5em;
  margin: 0 2px 0 2px;
  border-radius: 50%;
}
.indicator-1{
  animation: indicator-1 1s;
  animation-iteration-count: infinite;
}
.indicator-2{
  animation: indicator-2 1s;
  animation-iteration-count: infinite;
}
.indicator-3{
  animation: indicator-3 1s;
  animation-iteration-count: infinite;
}
@keyframes indicator-1 {
  0% {
    transform: translateY(0);
    @include opacity-full;
  }
  50% {
    transform: translateY(-50%);
    @include opacity-3;
  }
 100% {
   transform: translateY(0);
   @include opacity-full;
 }
}
@keyframes indicator-2 {
  20% {
    transform: translateY(0);
    @include opacity-full;
  }
  60% {
    transform: translateY(-50%);
    @include opacity-3;
  }
  100% {
   transform: translateY(0);
   @include opacity-full;
 }
}
@keyframes indicator-3 {
  40% {
    transform: translateY(0);
    @include opacity-full;
  }
  70% {
    transform: translateY(-50%);
    @include opacity-3;
  }
  100% {
   transform: translateY(0);
   @include opacity-full;
 }
}

.button-success::after {
  @include opacity-2;
  font-family: FontAwesome;
  font-weight: lighter;
  content: "| \f00c";
  display: inline-block;
  position: absolute;
  padding-left: 10px;
  padding-top: 1px;
  vertical-align: middle;
  animation: button-success 1s;
  animation-fill-mode: both;
}
@keyframes button-success {
  0% {
    transform: translateX(-100%);
    @include opacity-0;
  }
  30% {
    @include opacity-0;
  }
 100% {
   transform: translateX(0);
   @include opacity-2;
 }
}

.button-error{
  cursor: not-allowed;
  @include opacity-2;
  transition: opacity .4s ease-in-out;
  &::after {
    @include opacity-2;
    font-family: FontAwesome;
    font-weight: lighter;
    content: "| \f00d";
    display: inline-block;
    position: absolute;
    padding-left: 10px;
    padding-top: 1px;
    vertical-align: middle;
    animation: button-success 1s;
    animation-fill-mode: both;
  }
}
a.button-error:hover {
  opacity: 0.6 !important;
  transition: opacity .4s ease-in-out;
}
@keyframes button-error {
  0% {
    transform: translateX(-100%);
    @include opacity-0;
  }
  30% {
    @include opacity-0;
  }
 100% {
   transform: translateX(0);
   @include opacity-2;
 }
}
