//================================================//
// TEMPORARY
// code in here should be split into atoms, molecules
// or used as classes
//================================================//


.transparent-card{
  background: transparentize($cream, 0.9) !important;
  color: white;
  a {
    color: white;
    font-weight: 700;
  }
  td {
    color: white;
    background: transparentize($cream, 0.95) !important;
  }
  input {
    color: white;
    background: transparentize($cream, 0.95);
    &:focus {
      background: transparentize($cream, 0.9);
    }
    &:hover {
      background: transparentize($cream, 0.85);
    }
  }
}

.modal {
  height: 100%;
  width: 100%;
  z-index: 1000;
  background: transparentize($dark, 0.1);
  .transparent-card{
    background: transparentize($dark, 0.2) !important;
  }
}

.thumbnail {
  padding: 18px;
  height:94px;
  width: 94px;
  font-size:36px;
}

.terminal {
  p, pre , span {
    @include margin-none;
  }
}
