//================================================//
// TEMPORARY
// code in here should be split into molecules
//================================================//


//================================================//
// NAVIGATION
.nav-fullpage {
  position: fixed;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.4s;
  overflow-x: hidden;
}

.nav-fullpage-visible {
  opacity:1;
  transform: translateY(0);
}

.sidebar {
  width: 80px;
  height: 100%;
  transition: width 0.2s;
  transition-timing-function: cubic-bezier(.4,.14,.33,.83);
  &:hover {
    width: 200px;
    .hover-show {
      display: inline-block;;
    }
  }
  li {
    white-space: nowrap;
    overflow: hidden;
  }
}
main, .topbar {
  transition: margin 0.2s;
  transition-timing-function: cubic-bezier(.4,.14,.33,.83);
  @media (min-width: 900px) {
    margin-left: 80px;
  }
}

.sidebar:hover + .topbar {
  margin-left: 200px;
}

.item-active {
  @include color-tint-primary-1;
  box-shadow: -10px 1px 0px -1px $primary inset;
}

//================================================//
// OTHER STUFF
.max-width-none {
  max-width: none;
}
