{% include header.html %}

{% include navigation.html %}

<main role="main">
  <article class="color-bg-white">

    <nav class="padding-1 color-bg-midnight text-invert zindex-100 desktop-only">
      <div class="row max-width-none">
        <div class="small-6 columns">
          <i class="fa fa-search"></i> <input class="padding-none border-none input-clear" type="text" name="search" placeholder="Search...">
        </div>
        <div class="small-6 columns text-right">
          <a class="margin-lr1 padding-05 text-midnight item-hover-light rounded"><img src="http://placehold.it/24x24" class="circular" /> Profile</a>
          <a class="margin-lr1 padding-05 text-midnight item-hover-light rounded"><i class="fa fa-sign-out"></i> Logout</a>
        </div>
      </div>
    </nav>

    <div class="padding-t3">
      <div class="row">
        <div class="large-12 medium-12 small-12 columns small-centered">
          {{ content }}
        </div>
      </div>
    </div>

  </article>
</main>

{% include footer.html %}
